@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-header: "Micro 5", sans-serif;
  --font-body: "Kode Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1.25rem;
  background: var(--background);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
