
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B5B9B5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 360px;
}

.popup-content {
    padding: 20px;
}

.popup-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333F32;
}
